<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.4.1.1101" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps.163" version="0.0.111" targetFramework="net461" />
  <package id="MaterialDesignXaml.DialogsHelper" version="1.0.0" targetFramework="net461" />
  <package id="ReSharper.Annotations" version="7.1.3.130415" targetFramework="net461" />
</packages>